# Directories
raw_data/
salmon_index/
containers/

# Software containers
*.sif

# Raw sequencing data
*.fastq
*.fastq.gz
*.sra

# Reference files
*.fa
*.fasta
*.fna

# RStudio
.Rhistory
.RData
.Rproj.user/
.DS_Store
