# Directories
raw_data/
salmon_index/
containers/

# Software containers
*.sif

# Raw sequencing data
*.fastq
*.fastq.gz
*.sra

# Reference files
*.fa
*.fasta

# RStudio
.RDataTmp
.Rhistory
.RData
.Rproj.user/
.DS_Store
Assignment2.Rproj
assignment_2 (1).pdf
results/
